body {
    background: #666;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#container {
	left: 25%;
	position: absolute;
	top: 25%;
	width: 700px;
	height: 300px
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#controler{
	position: absolute;
	right: 0;
	top: 0;
	width: 250px;
}

.pencil {
	z-index: 10;
}

.skin1 {
	z-index: -10;
}
